= form_for @bot_version do |f|
  - if @bot_version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bot_version.errors.count, "error")} prohibited this bot_version from being saved:"
      %ul
        - @bot_version.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :version
    = f.text_field :version
  .field
    = f.label :game_versions
    = f.text_field :game_versions
  .actions
    = f.submit 'Save'
