<h1>Listing phones</h1>

<table class="table">
  <tr>
    <th>号码</th>
    <th>激活</th>
    <th>机器</th>
    <th>状态</th>
    <th>账号数量</th>
    <th>最后一次使用时间</th>
    <th>操作</th>
  </tr>

<% @phones.each do |phone| %>
  <tr>
    <td><%= phone.no%> </td>
    <td><%= link_to phone.enabled.to_s, phone_path(phone,phone:{enabled: (not phone.enabled)}),method: :put%></td>
    <td><%= phone.phone_machine.nil? ? "空" : link_to(phone.phone_machine.name,phone_machine_path(phone.phone_machine))%></td>
    <td><%= phone.status %></td>
    <td><%= link_to phone.accounts_count,accounts_path(:phone=>phone.no) %> <%= boolean_tag phone.can_bind %></td>
    <td><%= phone.last_active_at%></td>
    <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @orders %>
<%= link_to 'New Phone', new_phone_path %>
