<table class="table">
<thead>
<tr>
<th>ID</th>
 <th>角色</th>
 <th>机器</th>
 <th>IP</th>
 <th>时间</th>
 <th>区</th>
 <th>版本</th>
 <th>用时</th>
 <th>成功</th>
 <th>操作</th>
</tr>
</thead>
<tbody>
<% @sessions.each do |session|%>
<tr>
<td><%= session.id %><%= notes_link_tag(:session_id => session.id )%></td>
<td><%= role_tag session.role.id %></td>
<td><%= computer_tag session.computer %> </td>
<td><%= session.ip %></td>
<td><%= time_str session.created_at %></td>
<td><%= session.server %></td>
<td><%= session.version %></td>
<td><%= session.ending ?  session.hours : "ing" %></td>
<td><%= session.success %></td>
<td>#</td>
</tr>
<%end%>
</tbody>
</table>