<table class="table">
<thead>
<tr>
<th>ID</th>
 <th>机器</th>
 <th>账号</th>
 <th>IP</th>
 <th>时间</th>
 <th>区</th>
 <th>版本</th>
 <th>状态</th>
 <th>操作</th>
</tr>
</thead>
<tbody>
<% @sessions.each do |session|%>
<tr>
<td><%= session.id %></td>
<td><%= computer_tag session.computer %> </td>
<td><%= account_tag session.account %></td>
<td><%= session.ip %></td>
<td><%= time_str session.created_at %></td>
<td><%= session.server %></td>
<td><%= session.version %></td>
<td><%= session.ending ? "结束" : "进行中" %></td>
<td>#</td>
</tr>
<%end%>
</tbody>
</table>