<%= render "navbar" %>
<%= render "search_form"%>
<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span><%= @sessions.total_entries%>个会话</span> 
</div>

<%= render :partial => "table",:locals=>{:sessions=>@sessions} %>
<%= will_paginate @sessions %>