<form class="form-search" action="<%= path %>">

<input type="text" name="start_date" id="start_date" class="input-small" placeholder="起始日期" value="<%= params[:start_date]%>" />-
<input type="text" name="end_date" id="end_date" class="input-small" placeholder="结束日期" value="<%= params[:end_date]%>" />
<input type="text" name="server" class="input-small" placeholder="区" value="<%= params[:server]%>" />
<input type="text" name="account" class="input-small" placeholder="账号" value="<%= params[:account]%>" />
<input type="text" name="cid" class="input-small" placeholder="机器ID" value="<%= params[:cid]%>" />
<input type="text" name="role_id" class="input-small" placeholder="角色ID" value="<%= params[:role_id]%>" />
<input type="text" name="level" class="input-small" placeholder="等级(n-m)" value="<%= params[:level]%>" />
<input type="text" name="version" class="input-small" placeholder="版本" value="<%= params[:version]%>" />
<input type="text" name="date" id="date" class="input-small" placeholder="发生日期" value="<%= params[:date]%>" />
结束:
<select name="end" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:end] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:end] == "0" %> >No</option>
</select>
成功:
<select name="success" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:success] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:success] == "0" %> >No</option>
</select>
<hr style="margin:5px 0;"/>
<input type="text" name="api_name" class="input-small" placeholder="事件" value="<%= params[:api_name]%>" title="" />



<input type="text" name="code" class="input-small" placeholder="code" value="<%= params[:code]%>" />

<input type="text" name="ip" class="input-small" placeholder="IP" value="<%= params[:ip]%>" title="支持模糊查询" style="width:120px;" />


<input type="text" name="msg" class="input-small" placeholder="Msg" value="<%= params[:msg]%>" title="支持模糊查询" />
<input type="text" name="per_page" class="input-small" placeholder="每页展示" value="<%= params[:per_page]%>" />

<button type="submit" class="btn">确 定</button>
</form>



<script type="text/javascript">
$(function(){
	$("#start_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
	$("#end_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
	$("#date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>
