<%= render "navbar" %>

<form class="form-search" action="<%= analysis_notes_path %>">
<div class="input-prepend input-append">
<span class="add-on"><i class="icon-calendar"></i></span>
<input type="text" name="start_date" id="start_date" value=<%=@start_date%> class="input-medium" placeholder="from" style="width:90px;" value="<%= @start_date.to_s %>" />
<span class="add-on">-</span>
<input type="text" name="end_date" id="end_date" value=<%=@end_date%> class="input-medium" placeholder="to" style="width:90px;" value="<%= @end_date.to_s %>" />
</div>
<button type="submit" class="btn">Search</button>
</form>
<table class="table table-bordered table-condensed">
<thead>
<tr>
	<th width="10%">日期</th>
	<th width="5%">标准时</th>
	<th width="5%">金币</th>
	<th colspan="3"  style="text-align:center;">机器</th>
	<th colspan="3"  style="text-align:center;">账号</th>
	<th colspan="4" style="text-align:center;">角色</th>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<!-- computer -->
<td>Start(次)</td>
<td>No Account</td>
<td>时间(小时)</td>
<!-- account -->
<td>Start(次)</td>
<td>成功(次)</td>
<td>成功比</td>
<!-- role -->
<td>Pull(次)</td>
<td>Start</td>
<td>成功</td>
<td>disable</td>
</tr>
</thead>
<tbody>
<% @tmp_notes.each do |n|%>
<tr>
<td class="date_cell"><%= n.date %><i class="icon-eye-open"></i></td>
<td></td>
<td></td>
<!-- computer -->
<td><%= link_to n.computer_start,notes_path(:date=>n.date,:api_name=>"computer_start")  %></td>
<td><%= link_to n.computer_no_acount,notes_path(:date=>n.date,:api_name=>"not_find_account") %></td>
<td>#<%= n.computer_sum_hours %></td>
<!-- account -->
<td><%= link_to n.account_start,notes_path(:date=>n.date,:api_name=>"account_start") %></td>
<td><%= link_to n.account_success,notes_path(:date=>n.date,:api_name=>"account_success") %></td>
<td><%=  n.account_start >0 ? ("%2.0f%" % (n.account_success*100.00/n.account_start)) : "0%"  %></td>
<td><%= link_to n.role_online,notes_path(:date=>n.date,:api_name=>"role_online") %></td>
<td><%= link_to n.role_start,notes_path(:date=>n.date,:api_name=>"role_start")%></td>
<td><%= link_to n.role_success,notes_path(:date=>n.date,:api_name=>"role_success")%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%=  n.account_start >0 ? ("%2.0f%" % (n.account_success*100.00/n.account_start)) : "0%"  %>


</td>
<td><%= link_to n.disable,notes_path(:date=>n.date,:api_name=>"disable")%></td>
</td>
</tr>
<tr style="display:none;">
<td></td>
<td colspan="12">
<% notes = Note.day_grpup_scope(n.date) %>
<ul class="">
<% notes.each do |nn|%>
   <li>
   		<%= link_to "#{nn.api_name} => #{nn.ncount}",notes_path(:date=>n.date,:api_name=>nn.api_name) %>
	</li>
<%end%>
</ul>
</td>
</tr>
<%end%>
</tbody>
</table>

<script type="text/javascript">
$(function(){
	$("#start_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
	$("#end_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});

	$(".date_cell").click(function(){
		$(this).parent().next().toggle();
	});

});
</script>

