<fieldset>
<legend>单日上线情况分析</legend>
<%= render :partial => "form",:locals=>{:path=>analysis_roles_oneday_path(:mark => params[:mark])} %>


<%= render "navbar" %>

<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span>共<%= @roles.total_entries%>个角色</span> 
</div>
<table class="table table-bordered table-condensed">

<thead>
	<th>ID</th>
	<th>角色</th>
	<th>服务器</th>
	<th>等级</th>
	<th>疲劳值</th>
	<th>在线</th>
	<th>完成</th>
	<th>事件</th>
</thead>

<tbody>
<%@roles.each do |role|%>
<%notes = role.notes.day_scope(@date).select("api_name,count(id) as ecount").group("api_name") %>
<% success = notes.where(:api_name => "success").exists? %>
<tr>
<td width="4%"><%= role.id %></td>
<td>
	<%= link_to "#{role.account}##{role.role_index}",role_path(role) %>
	<%= role_icon role %>
</td>
<td><%= role.server %></td>
<td><%= role.level%></td>
<td><%= role.vit_power %></td>
<td>
<% if role.online %>
<%= link_to role.computer.hostname , computer_path(role.computer) if role.computer %>#<%= link_to role.ip,roles_ip_path(ip_to_url role.ip) %>
<%else%>
No
<%end%>
</td>
<td>
<%= success ? raw('<span class="label label-success">已完成</span>') : raw('<span class="label label-important">未完成</span>')%>
</td>
<td width="20%">
<div class="btn-group">
	<%= link_to "共#{notes.length}个事件发生",notes_role_path(role,:date=>@date.to_s),:class=>"btn btn-small" %>
	<a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	<ul class="dropdown-menu">
	<%notes.each do |note|%>
		<li><%= link_to event_badge(note.api_name,note.ecount),notes_role_path(role,:date=>@date.to_s,:api_name=>note.api_name)%>
		</li>
	<%end%>
</ul>  
</div>
</td>
</tr>

<%end%>
</tbody>
</table>

<%= will_paginate @roles %>

</fieldset>