<fieldset>
<legend>单日上线情况分析</legend>
<%= render :partial => "form",:locals => {:path=> analysis_oneday_path } %>


<%= render "navbar" %>

<table class="table">
<thead>
	<tr>
<th>效率统计</th>
<th>使用机器</th>
<th>总在线时间</th>
<th>标准机</th>
</tr>

<tr>
<td>#</td>
<td><%= @computer_count %></td>
<td><%= sprintf('%.2f', @sum_online_hours)  %> 小时</td>
<td><%= sprintf('%.2f', @sum_online_hours/24)%> 个 </td>
</tr>
<tr>
    <th>事件</th>
    <th>总上线角色 <%= @online_role_ids.length %> 个</th>
    <th>已完成角色 <%= @success_role_ids.length %> 个</th>
    <th>未完成角色 <%= @fail_role_ids.length %> 个</th>
</tr>
</thead>
<tbody>
<% @online_group_notes.each do |note|%>
<tr>
<td><%= link_to event_badge(note.api_name,0),search_notes_path(:api_name=>note.api_name,:min_time=>@date.to_s) %></td>
<td><%= note.ecount %></td>
<td><%= @success_hash[note.api_name] %></td>
<td><%= @fail_hash[note.api_name] || 0 %></td>
</tr>
<%end%>

</tbody>
<tfoot>


</tfoot>

</table>    

</fieldset>