<%=render "navbar"%>
<h2 class="text-info">在线角色：<%=@online_role_count%></h2> 
<div data-toggle="tooltip" title="<%=@finished_role_count%>/<%=@can_use_role_count%>" style="width: 40%;" class="progress progress-striped">
  <div class="bar" style="width: <%=@finished_role_count*100.0/@can_use_role_count%>%;"><%=@finished_role_count%></div>
  <div class="bar bar-success" style="width: <%=@online_role_count*100.0/@can_use_role_count%>%;"></div>
  <div class "text-info">进度</div>
</div>
</br>
<h2 class="text-warning">今日产出：<%= gold_str @today_trade_gold%></h2>
<h2 class="text-error">
<%= link_to '异常事件',group_count_notes_path(:end_time=>Time.now.end_of_day,:start_time=>Time.now.at_beginning_of_day) %>
	<%@error_event_count.each do |i|%>
		<%=link_to ("%s=%d" % [i.api_name,i.num]), notes_path(:end_time=>Time.now.end_of_day,:start_time=>Time.now.at_beginning_of_day,:api_name=>i.api_name)%>
	<%end%>
</h2>

