=content_for :title do
  今日情报

=render "navbar"
%h2= "时间：#{Time.now.strftime("%H:%M")}"
%ul.thumbnails
  %li.span5.thumbnail
    %h2.text-info
      =link_to "在线账号：#{@online_account_count}",account_sessions_path(:grid =>{:f => {:finished => ["f"]}})
      %h5.text-info{'style'=>"x: 20%;"}
        =link_to "深渊角色：#{@in_hell_role_count}",role_sessions_path(:grid =>{:f => {:in_hell => ["t"]}})
    %h2.text-info
      =link_to "在线机器：#{@online_computer_count}",computers_path(:started => 1)
    .progress.progress-striped{'data-toggle'=>"tooltip",'title'=>"#{@finished_role_count}/#{@all_valid_role_count}",'style'=>"width: 90%;"}
      .bar{'style'=>"width: #{@finished_role_count*100.0/@all_valid_role_count}%"}
        =@finished_role_count
      .bar.bar-success{'style'=>"width: #{(@online_role_count)*100.0/@all_valid_role_count}%"}
      .text-info 
        = @finished_role_count.to_s + '/' + @online_role_count.to_s + '/' + @all_valid_role_count.to_s

    %br
    %h2= "平均等级：#{@finished_role_average_level}"

    %h2.text-warning 
      今日产出：
      = gold_str @today_trade_gold

    %h2.text-warning 
      今日币价：
      = @average_gold_price.to_s + '元/亿'      
  %li.thumbnail{:style=>"width: 660px"}
    %h2.text-error
      = link_to '今日账号状态：',group_count_notes_path(:end_time=>Time.now.end_of_day,:start_time=>Time.now.at_beginning_of_day)
    =render 'error_grid'
