<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role_profile.name %>
</p>

<p>
  <b>Roles count:</b>
  <%= @role_profile.roles_count %>
</p>

<p>
  <b>Version:</b>
  <%= @role_profile.version %>
</p>

<p>
  <b>remark:</b>
  <%= @role_profile.remark %>
</p>

<p>
  <b>Data:</b>
  <pre class="brush: cpp"><%=@role_profile.data %></pre>
</p>

<%= link_to 'Edit', edit_role_profile_path(@role_profile) %> |
<%= link_to 'Back', role_profiles_path %>
