<table class="table table-bordered table-condensed">
<thead>
<tr>
	<th width="10%">日期</th>
	<th colspan="3" style="text-align:center;">基本</th>
	<th colspan="2" style="text-align:center;">机器</th>
	<th colspan="4" style="text-align:center;">账号</th>
	<th colspan="5" style="text-align:center;">角色</th>
</tr>
<tr>
<th></th>
<th title="<%= @tradesum %>">金币(<%= @tradesum/100000000.00 %>亿)
</th>
<th title="机器总时间/24">标准机</th> 
<th title="账号总时间/角色成功数">标准时</th>
<!-- computer -->
<th>Start</th>
<th>Hours</th>
<!-- account -->
<th>Start</th>
<th>Success</th>
<th>%</th>
<th>Hours</th>
<!-- role -->
<th title="被取得的角色">Online</th>
<th title="被调度的角色">Start</th>
<th>Success</th>
<th title="成功次数/start次数">%</th>
<th>Hours</th>
</tr>
</thead>
<tbody>
<% @tmp_notes.each do |n|%>
<% h = {:date=>n.date,:server=>params[:server]}%>
<tr>
<td class="date_cell"><%= n.date %>
<%= link_to raw('<i class="icon-eye-open"></i>'),group_count_notes_path(h),:target=>"_blank"%>
</td>
<td tilte="<%= @trade[n.date] %>">
	<%= sprintf('%.2f', @trade[n.date]/100000000.00) if @trade[n.date] %>亿
</td>
<td><%= sprintf('%.2f', n.computer_sum_hours/24)%> 个</td>
<td>
	<%= sprintf('%.2f', n.account_sum_hours/n.role_success_count)  if n.role_success_count >0 %>
</td>

<!-- computer -->
<td>
<%= link_to "#{n.computer_start_count}台 / #{n.computer_start}次",notes_path(h.merge(:api_name=>"computer_start"))  %>
</td>

<td><%= sprintf('%.2f', n.computer_sum_hours) %></td>
<!-- account -->
<td>
<%= link_to "#{n.account_start_count}个 / #{n.account_start}次",notes_path(h.merge(:api_name=>"account_start")) %></td>
<td>
<%= link_to "#{n.account_success}次",notes_path(h.merge(:api_name=>"account_start",:success=>1)) %>
</td>
<td><%=  n.account_start >0 ? ("%2.0f%" % (n.account_success*100.00/n.account_start)) : "0%"  %></td>
<td>
<%= sprintf('%.2f', n.account_sum_hours)   %>
</td>
<!-- -->
<td><%= link_to "#{n.role_online_count}个#{n.role_online}次",notes_path(h.merge(:api_name=>"role_online")) %>
</td>

<td><%= link_to "#{n.role_start_count}个#{n.role_start}次",notes_path(h.merge(:api_name=>"role_start"))%></td>
<td><%= link_to "#{n.role_success}次",notes_path(h.merge(:api_name=>"role_start",:success=>1))%></td>
<td>
	<%=  n.role_start >0 ? ("%2.0f%" % (n.role_success*100.00/n.role_start)) : "0%"  %>
</td>
<td><%= sprintf('%.2f', n.role_sum_hours)   %></td>

</tr>
<tr style="display:none;">
<td></td>
<td colspan="12">

</td>
</tr>
<%end%>
</tbody>
</table>