=form_for(@top_sell) do |s|
  .control-group
    %label.control-label 服:
    .controls
      = s.select :server_name,@servers

  .control-group
    %label.control-label 角色名字:
    .controls
      = s.text_field :role_name,:required=>"required"
  .control-group
    %label.control-label 商品名:
    .controls
      = s.text_field :goods,:required=>"required"
  .control-group
    %label.control-label 金额:
    .controls
      = s.text_field :price,:required=>"required"
  .control-group
    .controls
      = s.submit "保存", :class => "btn btn-success"