<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'tasks' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>任务主页'), home_tasks_path %>
</li>


<li <%= active if controller_name == 'tasks' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>任务记录'),tasks_path %>
</li>


<li <%= active if controller_name == 'tasks' && action_name == 'new' %>>
 <%= link_to raw('<i class="icon-plus"></i>新建任务'), new_task_path %>
</li>



</ul>
