<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span>共<%= @tasks.total_entries%>条任务记录</span> 
</div>
<table class="table table-bordered table-condensed">
<thead>
<tr>
 <th>名称</th>
 <th>执行命令</th>
 <th>参数</th>
 <th>备注</th>
 <th>角色</th>
 <th>计算机</th> 
 <th>创建时间</th>
 <th>推送时间</th>
 <th>回调时间</th>

 <th>操作</th>
</tr>
</thead>
<tbody>
<% @tasks.each do |task| %>
<tr>
<td><%= link_to "#{task.id}##{task.name}",task_path(task) %> <%= link_to(raw('<i class="icon-tag" title="顶级任务"></i>'),tasks_path(:sup_id=>task.id)) if task.sup_id == 0 %></td>
<td><%= task.command %></td>
<td><%= task.args %></td>
<td><%= task.remark %></td>
<td>
  <%= task.role.blank? ? "#" : link_to("#{task.role.id}##{task.role.account}",role_path(task.role),:target=>"_blank" ) %>
</td>
<td>
   <%= task.computer.blank? ? "#" : link_to(task.computer.hostname,computer_path(task.computer),:target=>"_blank") %>
</td>
<td>
<%= time_str task.created_at %>
</td>
<td><%= task.pushed ? time_str(task.pushed_at) : "未推送" %></td>
<td><%= task.callback ?  time_str(task.callback_at) : "未回调" %>
<%= task.success ? raw('<span class="badge badge-success">成功</span>') : raw('<span class="badge badge-important">失败</span>') if task.callback %>
</td>

<td>
<div class="btn-group">
    <%= link_to "查看", task_path(task),:class=>"btn btn-small" %>
    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
          <%= link_to raw("<i class='icon-edit'></i>修改"),edit_task_path(task) %>
      </li>
      <li>
         <%= link_to raw("<i class='icon-trash'></i>删除"),task_path(task),confirm: 'Are you sure?',:method => :delete %>
      </li>
    </ul>
  </div>
</td>
</tr>

<%end%>
</tbody>

</table>

<%= will_paginate @tasks %> 