<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'analysis' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>分析主页'),home_analysis_path  %>
</li>
<li <%= active if controller_name == 'analysis' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-calendar"></i>基本情况'),analysis_path   %>
</li>
<!-- 
<li <%= active if controller_name == 'analysis' && action_name == 'history' %>>
 <%= link_to raw('<i class="icon-time"></i>历史情况'),today_analysis_path   %>
</li>
 -->


</ul>
