<%= render :partial => "form",:locals=>{:path=>roles_analysis_path(:mark => params[:mark])} %>
<%= render "navbar" %>


<table class="table">
<thead>
<tr>
    <th>事件</th>
    <th>上线角色 <%= @online_notes.select("role_id").uniq.count %> 个</th>
    <th>失败角色 <%= @fail_notes.select("role_id").uniq.count %> 个</th>
    <th>成功角色 <%= @success_notes.select("role_id").uniq.count %> 个</th>
    
</tr>
</thead>
<tbody>
<% @online_group_notes.each do |note|%>
<tr>
<td><%= link_to event_badge(note.api_name,0),notes_path(:event => note.api_name,:min_time=>@date.to_s) %></td>
<td><%= note.ecount %></td>
<td><%= @fail_hash[note.api_name] || 0 %></td>
<td><%= @success_hash[note.api_name] %></td>


</tr>
<%end%>

</tbody>
</table>    

