<!DOCTYPE html>
<html>
<head>
  <title>账号状态分布</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body { padding-top:5px; }
  </style>
</head>
<body>
<div class="container-fluid">
<h2>账号列表 <%= @accounts.count %></h2>

<%= form_tag(restore_export_accounts_path,:method => :post,:id=>"account_checked_form",:target=>"_blank") do -%>
  <% if params[:status] == 'bslocked' || params[:other]=='1' %>
    <button class="btn btn-primary">恢复账号</button>
  <%end%>
  <%=render 'grid'%>
<%end%>

</div>
</body>
</html>
