<!DOCTYPE html>
<html>
<head>
  <title>账号状态分布</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body { padding-top:5px; }
  </style>
</head>
<body>
<div class="container-fluid">
<h2>账号列表 <%= @accounts.count %></h2>

<%= form_tag(restore_export_accounts_path,:method => :post,:id=>"account_checked_form",:target=>"_blank") do -%>
<% if params[:status] == 'bslocked' || params[:other]=='1' %>
<button class="btn btn-primary">恢复账号</button>
<%end%>
<%= grid(@accounts) do |g|
  g.action_column  object_property: :no
  g.column name: '账号', attribute: 'no', filter: false
  g.column name: '密码', attribute: 'password'
  g.column name: '机器名'  do |account|
    account.bind_computer.hostname if account.bind_computer
  end 
  g.column name: '状态', attribute: 'status' do |account|
    case account.status
          when "normal"
            "正常"
          when "bslocked"
            "交易锁定"
          when "discardforyears"
            "封停"
          when "discardbysailia"
            "赛利亚"
          else
            raw('<span class="badge badge-warning">其他</span>')
          end
  end

end %>

<%end%>

</div>
</body>
</html>
