<%= form_for(@computer,:html=>{:class=>"form-horizontal"}) do |f|  %>
<div class="control-group">
<label class="control-label">Hostname:</label>
<div class="controls docs-input-sizes" >
	<%= f.text_field :hostname,:required=>"required"  %>
</div>
</div>
<div class="control-group">
<label class="control-label">Auth Key:</label>
<div class="controls docs-input-sizes" >
	<%= f.text_field :auth_key,:required=>"required"  %>
</div>
</div>

<div class="control-group">
<label class="control-label">Status:</label>
<div class="controls docs-input-sizes" >
	<%= f.text_field :status,:required=>"required"  %>
</div>
</div>


<div class="control-group">
<div class="controls">
	<%= f.submit "保存", :class => "btn btn-success"%>
</div>
</div>
<%end%>


<script type="text/javascript">
/**/
$(function(){
$("form[id=edit_computer_<%= @computer.id %>]").validate();
$("form[id=new_computer]").validate();
});
</script>