<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span><%= @computers.total_entries%>个computer</span> 
</div>
<table class="table table-bordered table-condensed">
<thead>
<tr>
<td colspan="6" class="left">
	<label class="checkbox">
	<input type="checkbox" id="check_all" name="check_all"  />全选
	</label>
</td>
<td colspan="4">
	<%= button_tag "通过",:class=>"btn btn-success btn-small",:id => "pass_button",:type => 'button' if action_name != "checked"%>
	<%= button_tag "拒绝",:class=>"btn btn-danger btn-small",:id => "not_pass_button",:type => 'button' if action_name != "unchecked"%>
	<%= button_tag "删除",:class=>"btn btn-inverse btn-small",:id => "delete_button",:type => 'button' %>
 	<%= render_cell :task, :sup %>
</td>
</tr>
<tr>
	<th>选择</th>
	<th>主机名</th>
	<th>服务器</th>
	<th>Auth Key</th>
	<th>版本</th>
  	<th>在线角色</th>
  	<th>绑定角色</th>
	<th>注册时间</th>
	<th>审核</th>
  	<th>在线</th>
	<th>操作</th>
</tr>

</thead>
<tbody>
<% @computers.each do |computer|%>
<tr>
<td>
<label class="checkbox">
<%= check_box_tag 'ids[]',computer.id,:id=>computer.id %>
<%= computer.id %>
</label>
</td>
<td><%= link_to computer.hostname,computer_path(computer) %> <%= status_tag computer.status %></td>
<td><%= link_to computer.server || "" ,computers_path(:server => computer.server)%></td>
<td><%= computer.auth_key %></td>
<td><%= link_to computer.version, computers_path(:version => computer.version) %></td>
<td><%= link_to computer.online_roles_count,online_roles_computer_path(computer) %></td>
<td><%= link_to computer.roles_count,roles_computer_path(computer) %></td>

<td><%= time_str computer.created_at %></td>
<td><%= computer.checked ? raw('<span class="label label-success">通过</span>') : raw('<span class="label label-important">未通过</span>') %></td>
<td><%= boolean_tag computer.started %></td>
<td>
<div class="btn-group">
    <%= link_to "查看", computer_path(computer),:class=>"btn btn-small" %>
    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
          <%= link_to raw("<i class='icon-edit'></i>修改"),edit_computer_path(computer) %>
      </li>
      <li>
         <%= link_to raw("<i class='icon-trash'></i>删除"),computer_path(computer),confirm: 'Are you sure?',:method => :delete %>
      </li>
    </ul>
  </div>
</td>
</tr>
<%end%>
</tbody>
</table>
<%= will_paginate @computers %> 
