<div class="alert">
<strong>提示信息:</strong>
<span><%= @computers.total_entries%>个computer</span> 
</div>
<table class="table table table-bordered table-condensed">
<thead>
	<th>ID</th>
	<th>Hostname</th>
	<th>Auth Key</th>
  <th>Roles Count</th>
	<th>Created At</th>
  <th>User</th>
	<th>Operate</th>
</thead>
<tbody>
<% @computers.each do |computer|%>
<tr>
<td><%= computer.id %></td>
<td><%= link_to computer.hostname,computer_path(computer) %></td>
<td><%= computer.auth_key %></td>
<td><%= link_to computer.roles_count,roles_computer_path(computer) %></td>
<td><%= computer.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
<td><%= computer.user.name %></td>

<td>
<div class="btn-group">
    <%= link_to "查看", computer_path(computer),:class=>"btn" %>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
          <%= link_to raw("<i class='icon-edit'></i>修改"),edit_computer_path(computer) %>
      </li>
      <li>
         <%= link_to raw("<i class='icon-trash'></i>删除"),computer_path(computer),confirm: 'Are you sure?',:method => :delete %>
      </li>
    </ul>
  </div>
</td>
</tr>
<%end%>
</tbody>
</table>
<%= will_paginate @computers %>
