<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'computers' && action_name == 'show' %>>
 <%= link_to raw('<i class="icon-info-sign"></i>Computer Info'),computer_path(@computer)  %>
</li>
<li <%= active if controller_name == 'computers' && action_name == 'notes' %>>
 <%= link_to raw('<i class="icon-list"></i>Computer`s Notes'),notes_computer_path(@computer)  %>
</li>

<li <%= active if controller_name == 'computers' && action_name == 'roles' %>>
 <%= link_to raw('<i class="icon-list"></i>Computer`s Roles'),roles_computer_path(@computer)  %>
</li>
<li <%= active if controller_name == 'computers' && action_name == 'edit' %>>
 <%= link_to raw('<i class="icon-pencil"></i>Edit Computer'),edit_computer_path(@computer)  %>
</li>
</ul>