<form class="form-search" action="<%= computers_path %>">
<input type="text" name="id" class="input-small" placeholder="ID" value="<%= params[:id]%>" />
<input type="text" name="hostname" class="input-small" placeholder="主机名" value="<%= params[:hostname]%>" />
<input type="text" name="server" class="input-small" placeholder="服务器" value="<%= params[:server]%>" />
<label class="checkbox" title="未设置服务器"><input type="checkbox" name="no_server" value="1" <%= 'checked="checked"' if params[:no_server] == "1" %> />为空</label> |
<input type="text" name="version" class="input-small" placeholder="版本号" value="<%= params[:version]%>" />
<input type="text" name="ckey" class="input-small" placeholder="ckey" value="<%= params[:ckey]%>" />
<input type="text" name="accounts_count" class="input-small" placeholder="账号(n-m)" value="<%= params[:accounts_count]%>" />个
<input type="text" name="start_count" class="input-small" placeholder="在线(n-m)" value="<%= params[:start_count]%>" />个
<input type="text" name="client_count" class="input-small" placeholder="几开(n-m)" value="<%= params[:client_count]%>" />个
<input type="text" name="group" class="input-small" placeholder="分组名" value="<%= params[:group]%>" />
<hr style="margin: 5px 0;"/>
通过:
<select name="checked" class="input-small">
	<option value="">---all---</option>
	<option value="1" <%= 'selected="selected"' if params[:checked] == "1" %>>Yes</option>
	<option value="0" <%= 'selected="selected"' if params[:checked] == "0" %> >No</option>
</select>
在线:
<select name="started" class="input-small">
	<option value="">---all---</option>
	<option value="1" <%= 'selected="selected"' if params[:started] == "1" %>>Yes</option>
	<option value="0" <%= 'selected="selected"' if params[:started] == "0" %> >No</option>
</select>
正常:
<select name="status" class="input-small">
	<option value="">---all---</option>
	<option value="1" <%= 'selected="selected"' if params[:status] == "1" %>>Yes</option>
	<option value="0" <%= 'selected="selected"' if params[:status] == "0" %> >No</option>
</select>
自动绑定:
<select name="ab" class="input-small">
	<option value="">---all---</option>
	<option value="1" <%= 'selected="selected"' if params[:ab] == "1" %>>Yes</option>
	<option value="0" <%= 'selected="selected"' if params[:ab] == "0" %> >No</option>
</select>
<input type="text" name="date(created_at)" id="created_at" class="input-small" placeholder="注册日期" value='<%= params["date(created_at)"]%>' />
<input type="text" name="per_page" class="input-small" placeholder="每页展示" value="<%= params[:per_page] || 20 %>" />
<label class="checkbox">
	<input type="checkbox" value="1" name="all" <%= 'checked="checked"' if params[:all] == "1"%> />ALL
</label>
<button type="submit" class="btn">Search</button>
</form>

<script type="text/javascript">
$(function(){
	$("#created_at").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>