<%= form_tag(checked_computers_path,:method => :put,:id=>"computers_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do -%>
<table class="table table-bordered table-condensed">
<thead>

<tr>
<th colspan="6">
<label class="checkbox">
	<input type="checkbox" id="check_all" name="check_all"  />全选
</label>
</th>
<th colspan="5" class="text-right">
<select id="do" name="do" class="input-medium">
<option value="">选择操作</option>
<% Computer::Btns.each do | key, value |  %>
	<option value="<%= key %>"><%= value%></option>
<%end%>
</select>
<button type="submit" class="btn btn-primary">执行操作</button>

</th>
</tr>


<tr>
	<th>选择</th>
	<th>主机名</th>
	<th>服务器</th>
	<th>Auth Key</th>
	<th>版本</th>
  	<th>绑定帐号/自动</th>
  	<th>在线帐号</th>
	<th>注册时间</th>
	<th>通过</th>
  	<th>在线</th>
	<th>操作</th>
</tr>

</thead>
<tbody id="computers_data">
<% computers.each do |computer|%>
<tr>
<td>
<label class="checkbox">
<%= check_box_tag 'ids[]',computer.id,false,:id=>computer.id %>
<%= computer.id %>
</label>
</td>
<td><%= computer_tag(computer) %> <%= status_tag computer.status %></td>
<td><%= link_to computer.server || "" ,computers_path(:server => computer.server)%></td>
<td><%= computer.auth_key %></td>
<td><%= link_to computer.version, computers_path(:version => computer.version) %></td>
<td><%= computer.accounts_count %> <%= boolean_tag computer.auto_binding %></td>
<td><%= computer.online_accounts_count %></td>
<td><%= time_str computer.created_at %></td>
<td><%= boolean_tag computer.checked %></td>
<td><%= boolean_tag computer.is_started? %></td>
<td>
<div class="btn-group">
    <%= link_to "查看", computer_path(computer),:class=>"btn btn-small" %>
    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
          <%= link_to raw("<i class='icon-edit'></i>修改"),edit_computer_path(computer) %>
      </li>
    </ul>
  </div>
</td>
</tr>
<%end%>
</tbody>
</table>
<%end%>

<script type="text/javascript">

function validate(){
	var action =  $("#do").val();
	if(action == null || action == ""){
		alert("请选择您需要执行的操作!");
		$("#do").focus();
	}else if($("#computers_data input:checked").length == 0){
		alert("请选择您需要执行的机器!");
	}else{
		return true;
	}
	return false;
}
	
$(function(){

/**/
$("#check_all").click(function(){
	var checked = this.checked;
	$("#computers_data input[type=checkbox]").each(function(){
		this.checked = checked;
	});
});

/**/


});


</script>
