<fieldset>
<legend>计算机： <%= Computer::Btns[@do]%></legend>
<div class="alert">
<strong>提示信息:</strong>
<span>您选中了<%= @ids.length %> 个机器，执行[<%= Computer::Btns[@do]%>]操作!</span> 
</div>

<%= form_tag(do_checked_computers_path,:method => :put,:id=>"computer_checked_form",:class=>"form-horizontal") do -%>
<%= hidden_field_tag :do,params[:do]%>
<select name="ids[]" multiple="multiple" style="display:none;">
<% @ids.each do |id|%>
<option value="<%= id%>" selected="selected"><%= id %></option>
<%end%>
</select>



<!-- define form  -->
<% if @do == "bind_accounts"%>
<div class="control-group">
	<label class="control-label">账号状态:</label>
	<div class="controls docs-input-sizes" >
		<%= text_field_tag :status,nil,:placeholder=>"账号状态" %>
	</div>
</div>
<% elsif @do == "task" %>
	<div class="control-group">
		<label class="control-label">任务名称:</label>
		<div class="controls docs-input-sizes" >
		<select name="task_id">
		<% @tasks.each do |task|%>
		<option value="<%= task.id%>"><%= task.name %></option>
		<%end%>
		</select>
		</div>
	</div>
<%end%>


<div class="form-actions">
  <%= submit_tag "确认执行", :class => "btn btn-primary"%>
</div>


<%end%>

</fieldset>