<%= render "navbar" %>
<fieldset>
<legend>计算机主页</legend>
<!-- <table class="table table-bordered">
<tr>
	<td class="span2">审核通过：</td>
	<td><%= link_to Computer.checked_scope.count,checked_computers_path %></td>
</tr>
<tr>
		<td>审核未通过：</td>
		<td><%= link_to Computer.ubchecked_scope.count,unchecked_computers_path %></td>
</tr>
<tr>
	<td>合计：</td>
	<td>
		<%= link_to Computer.count,computers_path  %>
	</td>
</tr>
</table>
<% @coms =  Computer.select("server,count(id) as server_count ").group("server")%>
<table class="table table-bordered">
<tr>
	<td>服务器</td>
	<td>机器数量</td>
</tr>
<% @coms.each do |com| %>
<tr>
<td>
	<%= link_to com.server || raw('<span class="label label-important">未指定</span>') ,computers_path(:server=>com.server || "null" ) %>
</td>
<td><%= com.server_count %></td>
</tr>
<% end %>
</table> -->
</fieldset>
