<%= render "navbar" %>
<%= render "search_form" %>

<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span><%= @computers.total_entries%>个机器</span> 
<%= flash[:msg] if flash[:msg] %>
<%= link_to "更新绑定计数",update_accounts_count_computers_path(),:class=>"btn",:method => :put %>
</div>
<%= render :partial => "table",:locals=>{:computers=>@computers} %>

<%= will_paginate @computers %>
