<%= render "navbar2" %>
<table class="table">
<thead>
<tr>
<th colspan="6">ID: <%= @computer.id %></th>
</tr>
</thead>
<tbody>
<tr>
<th>主机名:</th>
<td><%= @computer.hostname %> <%= status_tag @computer.status %></td>
<th>Auth Key:</th>
<td><%= @computer.auth_key %></td>
<th>在线角色:</th>
<td><%= link_to @computer.online_roles_count,online_roles_computer_path(@computer) %></td>
</tr>

<tr>
<th>审核:</th>
<td ><%= @computer.checked ? raw('<span class="label label-success">通过</span>') : raw('<span class="label label-important">未通过</span>') %></td>
<th>在线:</th>
<td><%= boolean_tag @computer.started %></td>
<th>绑定角色</th>
<td><%= link_to @computer.roles_count,roles_computer_path(@computer) %></td>
</tr>

<tr>
<th>服务器:</th>
<td colspan="5">
	<%= @computer.server %> 
</td>

</tr>

<tr>
<th>版本:</th>
<td colspan="5">
	<%= @computer.version %>
</td>
</tr>

<tr>
<th>创建时间:</th>
<td colspan="5"><%= @computer.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
</tr>

<tr>
<th>修改时间:</th>
<td colspan="5"><%= @computer.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
</tr>

</tbody>
</table>
