<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'servers' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>服务区主页'),home_servers_path  %>
</li>
<li <%= active if controller_name == 'servers' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>服务区列表'),servers_path  %>
</li>
<li <%= active if controller_name == 'servers' && action_name == 'new' %>>
 <%= link_to raw('<i class="icon-plus"></i>新建服务区'),new_server_path  %>
</li>


</ul>
