<%= render "navbar" %>

<table class="table">
<thead>
<tr>
 <th>TAGS</th>
 <th>名称</th>
 <th>收款号</th>
 <th>出售商品/单价</th>
 <th>百万金币/点卷</th>
 <th>金币价格</th>
 <th>操作</th>
</tr>
</thead>
<tbody>
<% @servers.each do |server| %>
<tr>
<td><%=server.group_list%></td>
<td><%=server.name%></td>
<td>
<% if server.roles.length == 0 %>
<span class="badge badge-warning">未指定</span>
<%else%>
<select>
<% server.roles.each do |role|%>
	<option><%= role%></option>
<%end%>
</select>
<%end%>

</td>
<td><%= server.goods %> <%= server.price %></td>
<td><%= server.point %></td>
<td><%= server.gold_price %>元/万金币  </td>
<td>
	<%= link_to raw('<i class="icon-edit"></i>修改'),edit_server_path(server),:class=>"btn" %>
</td>
</tr>
<%end%>
</tbody>
</table>