<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Key</th>
<th>Value</th>
<th>Created At</th>
<th>Operate</th>
</tr>
<tbody>
<% @settings.each do |set|%>
<tr>
<td><%= set.key %></td>
<td><%= set.val %></td>
<td><%= set.created_at.strftime("%Y-%m-%d %H:%M") %></td>
<td class="span3">
<%= link_to raw("<i class='icon-edit'></i>修改"),edit_setting_path(set),:class=>"btn" %>
 <%= link_to raw("<i class='icon-trash'></i>删除"),setting_path(set),confirm: 'Are you sure?',:method => :delete,:class=>"btn" %>
</td>
</tr>
<%end%>
</tbody>
</thead>
</table>
<%= will_paginate @settings %>