<fieldset>
<legend>会话分析</legend>
<%= render :partial => "form",:locals => {:path=> analysis_session_path }%>

<table class="table">
<thead>
	<th>日期</th>
	<th>账号</th>
	<th>账号调度</th>
	<th>账号成功</th>
	<th>账号成功比</th>
	<th>角色</th>
	<th>角色调度</th>
	<th>角色成功</th>
	<th>角色成功比</th>
</thead>
<tbody>
<% @tmp_sessions.each do |as|%>
<tr>
<td><%= as.date %></td>
<td><%= as.acounts_count%> 个</td>
<td><%= link_to "#{as.account_count}次",account_sessions_path(:date=>as.date) %></td>
<td><%= link_to "#{as.account_success_count}次",account_sessions_path(:date=>as.date,:success=>1) %></td>
<td><%= "%2.0f%" % (as.account_success_count*100.00/as.account_count) %></td>
<td><%= as.roles_count-1 %></td>
<td><%= link_to "#{as.role_count}次",role_sessions_path(:date=>as.date) %></td>
<td><%= link_to "#{as.role_success_count}次",role_sessions_path(:date=>as.date,:success=>1) %></td>
<td>
<%= "%2.0f%" % (as.role_success_count*100.00/as.role_count) %>
</td>
</tr>
<%end%>
</tbody>
</table>




</fieldset>