<% if @version.errors.any?%>
<div class="error">
<strong>Error:</strong>
<span><%= @version.errors.full_messages %></span> 
</div>
<%end%>
<%= form_for(@version,:html=>{:class=>"form form-horizontal"}) do |form|  %>
<input type="hidden" value="✓" name="utf8">
<!-- <div class="control-group">
  <%= form.label :No ,:class=>"control-label" %>
  <div class="controls docs-input-sizes">
   <%= form.text_field :no %>
  </div>
</div> -->
<div class="control-group">
  <%= form.label :File ,:class=>"control-label" %>
  <div class="controls docs-input-sizes">
     <%= form.file_field :zip %>
  </div>
</div>

<div class="control-group">
 	<div class="controls">
      	<%= form.submit "保存", :class => "btn btn-success"%>
	</div>
</div>

<%end%>

<script type="text/javascript">
$(function(){
  $("form[id=new_version]").validate();

});
</script>