<% active = 'class=active'%>
<ul class="nav nav-tabs">

<li <%= active if controller_name == 'versions' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>Versions List'), versions_path %>
</li>
<li <%= active if controller_name == 'versions' && action_name == 'new' %>>
 <%= link_to raw('<i class="icon-plus"></i>New Version'),new_version_path  %>
</li>
<li <%= active if controller_name == 'versions' && action_name == 's3' %>>
 <%= link_to raw('<i class="icon-inbox"></i>Amazon S3'),s3_versions_path  %>
</li>


</ul>