
<!-- Modal -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
<form class="form-search" action="<%= account_roles_path %>" style="margin:0px;padding:0px;" id="myForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<label>搜索数据:</label>
<select name="tag" class="input-small" id="tag">
<option value="account">账号</option>
<option value="role" <%= 'selected="selected"' if params[:tag] == "role" %> >角色</option>
</select>



</div>
<div class="modal-body">
<input type="text" name="no" class="input-small" placeholder="帐号" value="<%= params[:no]%>"  />
<input type="text" name="server" class="input-small" placeholder="账号区" value="<%= params[:server]%>" />
<input type="text" name="roles_count" class="input-small" placeholder="角色数量" value="<%= params[:roles_count]%>" />
绑定:
<select name="bind" class="input-small">
<option value="">-All-</option>
<option value="bind" <%= 'selected="selected"' if params[:bind] == "bind" %> >已绑</option>
<option value="0" <%= 'selected="selected"' if params[:bind] == "0" %>>未绑</option>
<option value="-1" <%= 'selected="selected"' if params[:bind] == "-1" %>>禁用</option>
</select>
<input type="text" name="bind_cid" class="input-small" value="<%= params[:bind_cid]%>" placeholder="绑定机器"  title="绑定的机器" />
 <input type="text" name="a_created_at" id="a_created_at" value="<%= params[:a_created_at]%>" class="input-small" placeholder="创建日期"  />
<hr style="margin:5px 0;">
自动:
<select name="auto" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:auto] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:auto] == "0" %> >No</option>
</select>
上线:
<select name="started" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:started] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:started] == "0" %> >No</option>
</select>

<input type="text" name="online_ip" value="<%= params[:online_ip]%>" class="input-small" placeholder="在线IP"  />
<input type="text" name="online_rid" value="<%= params[:online_rid]%>" class="input-small" placeholder="角色ID"  />
成功:
<select name="ts" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:ts] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:ts] == "0" %> >No</option>
</select>
<hr style="margin:5px 0;">
绑定手机:
<select name="bind_phone" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:bind_phone] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:bind_phone] == "0" %> >No</option>
</select>
<input type="text" name="phone" value="<%= params[:phone]%>" class="input-small" placeholder="手机" title=""  />
<hr style="margin:5px 0;">
账号状态:
<% Account::STATUS.keys.each do |status|%>
<label class="checkbox"> <input type="checkbox" name="ass[]" value="<%= status%>" <%= 'checked="checked"' if params[:ass] && params[:ass].include?(status) %> /><%= status%> </label>
<%end%>

<fieldset>
<legend style="margin-bottom:5px;">角色条件</legend>
<input type="text" name="rid" class="input-small" placeholder="ID" value="<%= params[:rid]%>" style="width:30px;" />
<input type="text" name="index" class="input-small" placeholder="Index" value="<%= params[:index]%>" style="width:50px;" />
<input type="text" name="r_server" class="input-small" placeholder="角色区" value="<%= params[:r_server]%>" style="width:50px;" />
<input type="text" name="level" class="input-small" placeholder="等级(n-m)" value="<%= params[:level]%>" />
<input type="text" name="vit" class="input-small" placeholder="疲劳(n-m)" value="<%= params[:vit]%>" />
<input type="text" name="gold" class="input-small" placeholder="金币(n-m)" value="<%= params[:gold]%>" />
<input type="text" name="r_created_at" id="r_created_at" class="input-small" placeholder="创建日期" value="<%= params[:r_created_at]%>" />
<hr style="margin:5px 0;">
角色上线:
<select name="r_started" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:r_started] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:r_started] == "0" %> >No</option>
</select>
调度:
<select name="online" class="input-small">
	<option value="">-All-</option>
	<option value="1" <%= 'selected="selected"' if params[:online] == "1" %>>Yes</option>
	<option value="0" <%= 'selected="selected"' if params[:online] == "0" %> >No</option>
</select>
成功:
<select name="rts" class="input-small">
<option value="" >-All-</option>
<option value="1" <%= 'selected="selected"' if params[:rts] == "1" %>>Yes</option>
<option value="0" <%= 'selected="selected"' if params[:rts] == "0" %> >No</option>
</select>
<hr style="margin:5px 0;">
角色相关:
<% Role::STATUS.each do |status|%>
<label class="checkbox"> <input type="checkbox" name="rss[]" value="<%= status%>" <%= 'checked="checked"' if params[:rss] && params[:rss].include?(status) %> /><%= status%> </label>
<%end%>
</fieldset>

</div>
  
<div class="modal-footer">
<div class="btn-group">
 	<button type="button" id="clearFrom" class="btn">清空</button>
	<button type="reset"  class="btn">重置</button>
	<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
</div>

<input type="text" name="per_page" class="input-small" placeholder="每页展示" value="<%= params[:per_page] || 20 %>" />
<label class="checkbox">
	<input type="checkbox" value="1" name="all" <%= 'checked="checked"' if params[:all] == "1"%> />ALL
</label>

    
    <button type="submit" class="btn btn-primary">确定搜索</button>
  </div>
</form>
</div>



<script type="text/javascript">
$(function(){
	var today = new Date();
	$("#a_created_at").datepicker({dateFormat:"yy-mm-dd",maxDate:today});
	$("#r_created_at").datepicker({dateFormat:"yy-mm-dd",maxDate:today});
	
	$("#clearFrom").click(function(){
	$(':input','#myForm .modal-body').not(':button, :submit, :reset, :hidden, #tag').val('').removeAttr('checked').removeAttr('selected');
	});


});
</script>

  






