<h1>Listing history_role_sessions</h1>

<table class='table'>
  <tr>
    <th>Id</th>
    <th>Begin at</th>
    <th>End at</th>
    <th>Gold</th>
    <th>Exchange gold</th>
    <th>Connection times</th>
    <th>Ip</th>
    <th>Task</th>
    <th>Result</th>
    <th>Role</th>
    <th>Account</th>
    <th>Computer</th>
    <th>Role name</th>
    <th>Begin level</th>
    <th>End level</th>
    <th>Begin power</th>
    <th>End power</th>
    <th>Account key</th>
    <th>Server</th>
    <th>Version</th>
    <th>Game version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @history_role_sessions.each do |history_role_session| %>
  <tr>
    <td><%= history_role_session.id %></td>
    <td><%= history_role_session.begin_at %></td>
    <td><%= history_role_session.end_at %></td>
    <td><%= history_role_session.gold %></td>
    <td><%= history_role_session.exchange_gold %></td>
    <td><%= history_role_session.connection_times %></td>
    <td><%= history_role_session.ip %></td>
    <td><%= history_role_session.task %></td>
    <td><%= history_role_session.result %></td>
    <td><%= history_role_session.role_id %></td>
    <td><%= history_role_session.account_id %></td>
    <td><%= history_role_session.computer_id %></td>
    <td><%= history_role_session.role_name %></td>
    <td><%= history_role_session.begin_level %></td>
    <td><%= history_role_session.end_level %></td>
    <td><%= history_role_session.begin_power %></td>
    <td><%= history_role_session.end_power %></td>
    <td><%= history_role_session.account_key %></td>
    <td><%= history_role_session.server %></td>
    <td><%= history_role_session.version %></td>
    <td><%= history_role_session.game_version %></td>
    <td><%= link_to 'Show', history_role_session %></td>
    <td><%= link_to 'Edit', edit_history_role_session_path(history_role_session) %></td>
    <td><%= link_to 'Destroy', history_role_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New History role session', new_history_role_session_path %>
