<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @history_role_session.id %>
</p>

<p>
  <b>Begin at:</b>
  <%= @history_role_session.begin_at %>
</p>

<p>
  <b>End at:</b>
  <%= @history_role_session.end_at %>
</p>

<p>
  <b>Gold:</b>
  <%= @history_role_session.gold %>
</p>

<p>
  <b>Exchange gold:</b>
  <%= @history_role_session.exchange_gold %>
</p>

<p>
  <b>Connection times:</b>
  <%= @history_role_session.connection_times %>
</p>

<p>
  <b>Ip:</b>
  <%= @history_role_session.ip %>
</p>

<p>
  <b>Task:</b>
  <%= @history_role_session.task %>
</p>

<p>
  <b>Result:</b>
  <%= @history_role_session.result %>
</p>

<p>
  <b>Role:</b>
  <%= @history_role_session.role_id %>
</p>

<p>
  <b>Account:</b>
  <%= @history_role_session.account_id %>
</p>

<p>
  <b>Computer:</b>
  <%= @history_role_session.computer_id %>
</p>

<p>
  <b>Role name:</b>
  <%= @history_role_session.role_name %>
</p>

<p>
  <b>Begin level:</b>
  <%= @history_role_session.begin_level %>
</p>

<p>
  <b>End level:</b>
  <%= @history_role_session.end_level %>
</p>

<p>
  <b>Begin power:</b>
  <%= @history_role_session.begin_power %>
</p>

<p>
  <b>End power:</b>
  <%= @history_role_session.end_power %>
</p>

<p>
  <b>Account key:</b>
  <%= @history_role_session.account_key %>
</p>

<p>
  <b>Server:</b>
  <%= @history_role_session.server %>
</p>

<p>
  <b>Version:</b>
  <%= @history_role_session.version %>
</p>

<p>
  <b>Game version:</b>
  <%= @history_role_session.game_version %>
</p>


<%= link_to 'Edit', edit_history_role_session_path(@history_role_session) %> |
<%= link_to 'Back', history_role_sessions_path %>
