<form class="form-search" action="<%= payments_path %>">
	时间:
  <input type="text" name="min_time" id="start_date" class="input-small" placeholder="开始日期" value="<%= params[:min_time]%>" />-
  <input type="text" name="max_time" id="end_date" class="input-small" placeholder="截止日期" value="<%= params[:max_time]%>" />  
	支出:
  <input type="text" name="min_gold" class="input-small" placeholder="最小金额" value="<%= params[:min_gold]%>" />-
  <input type="text" name="max_gold" class="input-small" placeholder="最大金额" value="<%= params[:max_gold]%>" />
  <input type="text" name="server" class="input-small" placeholder="类型" value="<%= params[:server]%>" />
  <input type="text" name="pay_type" class="input-small" placeholder="类型" value="<%= params[:pay_type]%>" />
	<input type="text" name="remark" class="input-small" placeholder="备注" value="<%= params[:remark]%>" />
	<input type="text" name="role_id" class="input-small" placeholder="角色ID" value="<%= params[:role_id]%>" />
  <button type="submit" class="btn">Search</button>
</form>
<script type="text/javascript">
$(function(){
  $("#start_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
  $("#end_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>
