<%= form_for(@role,:html=>{:onsubmit=>"return validate(this);",:class=>"form-horizontal"}) do |f|  %>
<% if action_name == "new"%>
<div class="control-group">
<label class="control-label">Account:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :account,:required=>"required" %>
  </div>
</div>
<div class="control-group">
<label class="control-label">Password:</label>
  <div class="controls docs-input-sizes" >
    <%= f.password_field :password,:required=>"required" %>
  </div>
</div>
<%else%>
<div class="control-group">
<label class="control-label">ID:</label>
  <div class="controls docs-input-sizes" >
    <input type="text" value="<%= @role.id%>" readonly="readonly" />
  </div>
</div>
<div class="control-group">
<label class="control-label">Account:</label>
  <div class="controls docs-input-sizes" >
    <input type="text" value="<%= @role.account %>" readonly="readonly" />
  </div>
</div>
<%end%>
<div class="control-group">
<label class="control-label">Index:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :role_index %>
  </div>
</div>
<div class="control-group">
<label class="control-label">服务区:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :server %>
  </div>
</div>
<div class="control-group">
<label class="control-label">角色名:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :name %>
  </div>
</div>
<div class="control-group">
<label class="control-label">等级:</label>
  <div class="controls docs-input-sizes" >
     <%= f.text_field :level %>
  </div>
</div>

<div class="control-group">
<label class="control-label">疲劳值:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :vit_power %>
  </div>
</div>
<div class="control-group">
<label class="control-label">IP段:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :ip_range %>
  </div>
</div>

<div class="control-group">
<label class="control-label">Status:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :status,:required=>"required" %>
  </div>
</div>


<div class="control-group">
<label class="control-label">Is Helper:</label>
  <div class="controls docs-input-sizes" >
   <%= f.check_box :is_helper %> 
  </div>
</div>

<div class="control-group">
<label class="control-label">IsHell:</label>
  <div class="controls docs-input-sizes" >
   <%= f.check_box :ishell %> 
  </div>
</div>

<div class="control-group">
<label class="control-label">Channel Index:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :channel_index,:required=>"required" %>
  </div>
</div>

<div class="control-group">
 	<div class="controls">
      	<%= f.submit "保存", :class => "btn btn-success"%>
	</div>
</div>


<%end%>


<script type="text/javascript">
/**/
$(function(){
$("form[id=edit_role_<%= @role.id %>]").validate();
$("form[id=new_role]").validate();
/**/
$("#account_level_selector" ).slider({animate: true,max: 200,min:0,step:1,
    value: <%= @role.level %>,
    change: function(){
    	var value = $(this).slider("value");
    	$("#role_level_display").text(value);
    	$("#role_level").val(value);
    }
  });
});
/**/


</script>