<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span>共<%= @roles.total_entries%>个角色</span> 
</div>
<table class="table table-bordered table-condensed">
<thead>
	<th>ID</th>
	<th>角色</th>
	<th>服务器</th>
	<th>等级</th>
	<th>疲劳值</th>
  <th>余额 + 支出 = 产出</th>
	<th>在线</th>
	<th class="span1">操作</th>
</thead>
<tbody>
<% @roles.each do |role| %>
<tr <%= "class=error title=#{role.close_hours}" if role.close %>>
<td><%= role.id %></td>
<td><%= link_to "#{role.account}##{role.role_index}",role_path(role) %>
<%= raw('<i class="icon-lock" title="帐号锁定"></i>') if role.locked %>
<%= raw('<i class="icon-warning-sign" title="密码丢失"></i>') if role.lost %>
<%if role.close %>
<span class="label label-important">(<%= role.close_hours%>小时)-<%= time_str role.reopen_at %></span>
<%end%>
</td>
<td><%= role.server%></td>
<td><%= role.level%></td>
<td><%= role.vit_power %></td>
<td><%= "#{role.gold} + #{role.total_pay} = #{role.total}" %></td>
<td>
<% if role.online %>
<%= link_to role.computer.hostname , computer_path(role.computer) if role.computer %>#<%= link_to role.ip,roles_ip_path(ip_to_url role.ip) %>
<%else%>
No<%= "(Waiting...)" if role.can_online%>
<%end%>
</td>
<td>
<div class="btn-group">
<%= link_to "查看", role_path(role),:class=>"btn" %>

<% if can? :update, @role %>
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
<ul class="dropdown-menu">
<% if role.online %>
<li>
   <%= link_to raw("<i class='icon-off'></i>下线"),off_role_path(role),confirm: 'Are you sure?',:method => :put %>
</li>
<%end%>
<% if role.close %>
<li>
   <%= link_to raw("<i class='icon-repeat'></i>重开"),reopen_role_path(role),confirm: '确认重开角色?',:method => :put %>
</li>
<%end%>
<% if role.locked %>
<li>
	<%= link_to raw('<i  class="icon-lock"></i>解锁') , unlock_role_path(role),:method => :put%>
</li>
<%end%>

<% if role.lost %>
<li>
	<%= link_to raw('<i  class="icon-refresh"></i>恢复') , regain_role_path(role),:method => :put%>
</li>
<%end%>

<li>
    <%= link_to raw("<i class='icon-edit'></i>修改"),edit_role_path(role) %>
</li>
<li>
   <%= link_to raw("<i class='icon-trash'></i>删除"),role_path(role),confirm: 'Are you sure?',:method => :delete %>
</li>


</ul>  
<% end %>



</div>
</td>
</tr>
<%end%>
</tbody>
</table>


<% if @page_params %>
<%= will_paginate @roles, :params => @page_params %>
<%else%>
<%= will_paginate @roles %>
<%end %>
