<table class="table">
<thead>
	<th>ID</th>
	<th>Account</th>
	<th>Role Index</th>
	<th>Server</th>
	<th>Level</th>
	<th>Vit Power</th>
	<th>Online</th>
	<th>Operate</th>
</thead>
<tbody>
<% @roles.each do |role| %>
<tr class="<%= 'warning' if role.close %>">
<td><%= role.id %></td>
<td><%= role.account %></td>
<td><%= role.role_index %></td>
<td><%= role.server%></td>
<td><%= role.level%></td>
<td><%= role.vit_power %></td>
<td>
<% if role.online %>
<%= role.computer.id if role.computer %>@<%= role.ip %>
<%else%>
No
<%end%>
</td>
<td>
<div class="btn-group">
    <%= link_to "查看", role_path(role),:class=>"btn" %>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
          <%= link_to raw("<i class='icon-edit'></i>修改"),edit_role_path(role) %>
      </li>
      <li>
         <%= link_to raw("<i class='icon-trash'></i>删除"),role_path(role),confirm: 'Are you sure?',:method => :delete %>
      </li>
    </ul>
  </div>
</td>
</tr>
<%end%>
</tbody>
</table>
<%= will_paginate @roles %>