<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'roles' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>角色主页'), home_roles_path %>
</li>
<li class="dropdown <%= 'active' if @list_title || action_name == 'index'%>">
  	<a href="<%= roles_path %>" class="dropdown-toggle" data-toggle="dropdown">
  		<i class="icon-list"></i>角色列表<b class="caret"></b>
  	</a>
  	<%= render "roles/ul" %>
</li>

<li <%= active if controller_name == "roles" && action_name == 'search' %> >
 <%= link_to raw('<i class="icon-search"></i>搜索角色'), search_roles_path %>
</li>
<li <%= active if controller_name == "roles" && action_name == 'group_count' %> >
 <%= link_to raw('<i class="icon-list"></i>角色分布'), group_count_roles_path %>
</li>

<li <%= active if controller_name == "roles" && action_name == 'new' %> >
 <%= link_to raw('<i class="icon-plus"></i>新建角色'), new_role_path %>
</li>

<li <%= active if controller_name == "sheets" %> >
 <%= link_to raw('<i class=" icon-folder-open"></i>导入角色'), sheets_path %>
</li>




</ul>
