<%= form_tag(checked_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do -%>
<table class="table table-bordered table-condensed">
<thead>
<tr>
<th colspan="1">
<label class="checkbox">
<input type="checkbox" id="check_all" name="check_all"  />全选
</label>
</th>
<th class="info" colspan="6">
	<span class="alert-info">已调度</span>
</th>
<th colspan="2" class="text-right">
<select id="do" name="do" class="input-medium">
<option value="">选择操作</option>
<% Role::Btns.each do | key, value |  %>
	<option value="<%= key %>"><%= value%></option>
<%end%>
</select>
<button type="submit" class="btn btn-primary">执行操作</button>
</th>
</tr>
<tr>
	<th>ID</th>
	<th>Index</th>
	<th>账户</th>
	<th>区</th>
	<th>等级</th>
	<th>疲劳值</th>
  	<th>金币</th>
	<th>在线</th>
	<th>状态</th>
	<th>成功</th>
</tr>
</thead>
<tbody id="roles_data">
<% roles.each do |role| %>
<tr class=<%= "info" if role.online %> >
<td>
<label class="checkbox">
<%= check_box_tag 'ids[]',role.id,false,:id=>role.id %>
<%= role_tag role.id %>
</label>
</td>
<td><%= role.role_index %></td>
<td><%= account_tag role.account%> <%= role.qq_account.status if role.qq_account && role.qq_account.status != "normal" %> </td>
<td><%= role.server%></td>
<td><%= role.level%></td>
<td><%= role.vit_power %></td>
<td><%= role.gold %></td>
<td>
<% if role.session_id > 0 %>
<%= link_to role.session.computer_id ,computer_path(role.session.computer_id)%>
<%= notes_link_tag(:cid => role.session.computer_id) %>
<%end%>
</td>
<td><%= role.status %></td>
<td><%= boolean_tag role.today_success %></td>
</tr>
<%end%>
</tbody>
</table>
<%end%>

<script type="text/javascript">

function validate(){
	var action =  $("#do").val();
	if(action == null || action == ""){
		alert("请选择您需要执行的操作!");
		$("#do").focus();
	}else if($("#roles_data input:checked").length == 0){
		alert("请选择您需要执行的角色!");
	}else{
		return true;
	}

	//alert(action);
	return false;
}

$(function(){

$("#check_all").click(function(){
	var checked = this.checked;
	$("#roles_data input[type=checkbox]").each(function(){
		this.checked = checked;
	});
});

});

</script>