<%= render "navbar" %>
<fieldset>
<legend>Roles Home</legend>
<% if Rails.env != "production"%>
  <%= link_to "自动下线",auto_off_roles_path,:class=>"btn" %>
	<%= link_to "重置疲劳值",reset_vip_power_roles_path,:method=>"put",:class=>"btn"%>
<%end%>
<%= link_to "重开角色",reopen_all_roles_path,:method=>"put",:class=>"btn" %>
<table class="table table-bordered">
<thead>
<tr>
  <th >统计类型</th>
  <th colspan="2">#</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Online</td>
  <td>在线 <%= link_to Role.where(:online => true).count,online_roles_path %></td>
  <td>不在线 <%= link_to Role.where(:online => false).count,offline_roles_path %></td>
</tr>
<tr>
  <td>Close</td>
  <td>封号 <%= link_to Role.where(:close => true).count,closed_roles_path %></td>
  <td>未封号 <%= link_to Role.where(:close => false).count,not_closed_roles_path %></td>
</tr>

<tr>
  <td>Lock</td>
  <td>锁定 <%= link_to Role.where(:locked => true).count,locked_roles_path %></td>
  <td>未锁定 <%= link_to Role.where(:locked => false).count,unlocked_roles_path %></td>
</tr>

<tr>
  <td>Lose</td>
  <td>丢失 <%= link_to Role.where(:lost => true).count,lost_roles_path %></td>
  <td>未丢失 <%= link_to Role.where(:lost => false).count,unlost_roles_path %></td>
</tr>

<tr>
<td colspan="4" style="text-align:center;">
	<%= link_to Role.count,roles_path %>
</td>
</tr>
</tbody>
</table>
</fieldset>

