<%= render "navbar" %>
<%= render "new_search_form"%>
<div class="alert">
<strong>提示信息:</strong>
<button type="button" class="close" data-dismiss="alert">&times;</button>
<span><%= @roles.total_entries%>个角色</span> 
</div>

<%= render :partial => "table",:locals=>{:roles=>@roles} %>
<%= will_paginate @roles %>