<%= render "navbar2" %>
<fieldset>
<legend>Role Detail</legend>
<table class="table">
<thead>
<tr>
<th colspan="6">ID: <%= @role.id %></th>

</tr>
</thead>
<tbody>
<tr>
<th>账户:</th>
<td><%= @role.account %></td>
<td><b>密码:</b></td>
<td>*********</td>
<td><b>Index:</b></td>
<td><%= @role.role_index  || "#" %></td>
</tr>
<tr>
<th>服务器:</th>
<td><%= @role.server || "#" %></td>
<th>等级:</th>
<td><%= @role.level %></td>
<th>疲劳值:</th>
<td><%= @role.vit_power %></td>
</tr>

<tr>
<th>当前金币：</th>
<td><%= @role.gold %></td>
<th>支出合计：</th>
<td><%= link_to @role.total_pay,payments_role_path(@role) %></td>
<th>累计产出:</th>
<td><%= @role.total_gold %></td>
</tr>

<!-- -->
<tr>
<th>在线:</th>
<% if @role.online %>
<td> Yes </td>
<th>计算机:</th>
<td><%= link_to @role.computer.hostname,computer_path(@role.computer) if @role.computer %></td>
<th>IP</th>
<td><%= link_to @role.ip,roles_ip_path(ip_to_url @role.ip) %></td>
<%else%>
<td colspan="5"> No </td>
<%end%>
</tr>

<tr>
<th>关闭:</th>
<% if @role.close %>
<td> Yes </td>
<th>关闭时间:</th>
<td><%= time_str @role.closed_at %></td>
<th>重开时间:</th>
<td><%= time_str @role.reopen_at %></td>
<%else%>
<td colspan="5"> No </td>
<%end%>
</tr>

<tr>
<th>创建时间</th>
<td colspan="5"><%= time_str @role.created_at %></td>
</tr>
<tr>
<th>修改时间</th>
<td colspan="5"><%= time_str @role.updated_at %></td>
</tr>

</tbody>
</table>

</fieldset>
