<!DOCTYPE html>
<html>
<head>
  <title>账号状态分布</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body { padding-top:5px; }
  </style>
</head>
<body>
<div class="container-fluid">
<h2>账号状态分布</h2>
<table class="table table-bordered table-striped table-hover" style="width:80%;">
<thead>
<tr>
	<th width="20%">区</th>
	<th>正常</th>
	<th>交易锁定</th>
  <th>封5天</th>
  <th>封7天</th>
	<th>封停</th>
	<th>赛利亚</th>
	<th>其他</th>
	<th>金币(百万)/点卷</th>
</tr>

</thead>
<tbody>
<% @records.each do |record|%>
<tr>
	<td><%= link_to( record.server || "备用", export_accounts_path(:server=>record.server),:target=>"_blank") %></td>
	<td><%= link_to record.normal_count,export_accounts_path(:server=>record.server,:status=>"normal"),:target=>"_blank"  %></td>
	<td><%= link_to record.bs_count,export_accounts_path(:server=>record.server,:status=>"bslocked"),:target=>"_blank" %></td>
  <td><%= link_to record.discard_days_count,export_accounts_path(:server=>record.server,:status=>"discardfordays"),:target=>"_blank" %></td>
  <td><%= link_to record.discard_week_count,export_accounts_path(:server=>record.server,:status=>"discardforweek"),:target=>"_blank" %></td>
	<td><%= link_to record.discard_count,export_accounts_path(:server=>record.server,:status=>"discardforyears"),:target=>"_blank" %></td>
	<td><%= link_to record.sailia_count,export_accounts_path(:server=>record.server,:status=>"discardbysailia"),:target=>"_blank"  %></td>
	<td><%= link_to record.other_count,export_accounts_path(:server=>record.server,:other=>1),:target=>"_blank" %></td>
	<td>
	<% if @ticket_records[record.server]%>
		<%= sprintf('%.2f', @ticket_records[record.server][0]/1000000.00) %> /
		<%= @ticket_records[record.server][1] %>
	<%end%>
	
	</td>
</tr>
</tr>
<%end%>
</tbody>
</table>
</div>
</body>
</html>
