<fieldset>
<legend>将<%= @ids.length %>个账号导入到CPO <%= AppSettings.cpo.url %></legend>
<%=  %>
<%= form_tag(AppSettings.cpo.url+"/multiple_accounts",:method => :post,:class=>"form-horizontal", :target=>"_blank") do -%>

<div class="control-group">
<label class="control-label">CPO帐 号:</label>
  <div class="controls docs-input-sizes">
    <input id="email" name="email" readonly="readonly" value="<%= AppSettings.cpo.email %>" title="<%= AppSettings.cpo.password %>" type="text" >
  </div>
</div>

<div class="control-group">
<label class="control-label">备注:</label>
  <div class="controls docs-input-sizes">
     <input type="text" name="remark" class="form-control"  placeholder="">
  </div>
</div>
<div class="field">
	<button type="submit" class="btn btn-primary">确定导入</button>
</div>


<hr/>
<% @accounts.each do |account| %>
<div>
	<input type="text" name="data[]" value='<%= account.format_string %>' class="input-xxlarge" />
</div>
<%end%>
<%end%>

</fieldset>