<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'outputs' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>产出主页'),home_outputs_path  %>
</li>
<li <%= active if controller_name == 'outputs' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>产出列表'),outputs_path   %>
</li>
<li <%= active if controller_name == 'outputs' && action_name == 'search' %>>
 <%= link_to raw('<i class="icon-search"></i>产出搜索'),search_outputs_path   %>
</li>

<li <%= active if controller_name == 'outputs' && action_name == 'histroy' %>>
 <%= link_to raw('<i class="icon-time"></i>历史统计'),histroy_outputs_path   %>
</li>

</ul>
