<ul class="nav">
<li><a href="/"><span class="icon-home"></span>Home</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">角色
    <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		  <li class="nav-header">Role</li>
		  <li><%= link_to "角色主页", home_roles_path()%></li>
		  <li class="dropdown-submenu"><%= link_to "角色列表", roles_path()%>
					<ul class="dropdown-menu">
						<li><a href="/roles">所有角色</a></li>
						<li><a href="/roles/online">在线列表</a></li>
						<li><a href="/roles/offline">未在线列表</a></li>
						<li><a href="/roles/waiting">即将上线</a></li>
						<li class="divider"></li>
						 <li><a href="/roles/closed">已封号列表</a></li>
						<li><a href="/roles/not_closed">未封号列表</a></li>
                        <li class="divider"></li>
                        <li><a href="/roles/locked">已锁定列表</a></li>
                        <li><a href="/roles/unlocked">未锁定列表</a></li>
                         <li class="divider"></li>
                        <li><a href="/roles/lost">已丢失列表</a></li>
                        <li><a href="/roles/unlost">未丢失列表</a></li>
                        <li class="divider"></li>
                        <li><%= link_to "交易锁定列表", search_roles_path(:bslocked => 1)%> </li>
                        <li><%= link_to "解锁失败列表", search_roles_path(:bs_unlock => 0)%> </li>
					</ul>
			</li>
		  <li><%= link_to "搜索角色", search_roles_path()%></li>
		  <li><%= link_to "角色分布统计",group_count_roles_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">计算机
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Computer</li>
    <li><%= link_to "计算机主页", home_computers_path()%></li>
    <li><%= link_to "计算机列表", computers_path()%></li>
    <li><%= link_to "新建计算机", new_computer_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">IP
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">IP</li>
    <li><%= link_to "IP 列表", ips_path()%></li>
    </ul>
</li>



<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">记录
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Note</li>
    <li><%= link_to "记录主页", home_notes_path()%></li>
    <li><%= link_to "记录列表", notes_path()%></li>
    <li><%= link_to "搜索记录", search_notes_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务器
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">SERVER</li>
    <li><%= link_to "服务器列表", servers_path()%></li>
    </ul>
</li>



<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">金币
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><%= link_to raw('金币主页'), gold_path()%></li>
        <li><%= link_to raw('转出统计'), gold_trade_path()%></li>
		<li class="nav-header">金币产出</li>
		<li><%= link_to raw('产出主页'), home_outputs_path()%></li>
		<li><%= link_to "产出列表", outputs_path()%></li>
		<li><%= link_to "搜索产出", search_outputs_path()%></li>
    <li class="nav-header">金币支出</li>
		<li><%= link_to "支出主页", home_payments_path()%></li>
    <li><%= link_to "所有支出", payments_path()%></li>
		<li><%= link_to "搜索支出记录", search_payments_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">USER</li>
    <li><%= link_to "用户列表", users_path()%></li>
		<li><%= link_to "新建用户", new_user_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">版本
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">VERSION</li>
    <li><%= link_to "版本列表", versions_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">SETTING</li>
    <li><%= link_to "设置列表", settings_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">分析
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">ANALYSIS</li>
    <li><%= link_to "单日上线情况分析", analysis_oneday_path()%></li>
    <li><%= link_to "上线情况分析", analysis_multiday_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">任务
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">TASK</li>
    <li><%= link_to "任务列表", tasks_path()%></li>
    </ul>
</li>



</ul>
