<ul class="nav">
<!-- <li><a href="/"><span class="icon-home"></span>Home</a></li> -->
<li><a href="/api/doc">Doc</a></li>
<li><a href="/todays"><strong class="text-info">今日情报</strong></a></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">机器
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Computer</li>
    <li><%= link_to "计算机列表", computers_path()%></li>
    <li><%= link_to "计算机分布统计",group_count_computers_path()%></li>
    <li><%= link_to "新建计算机", new_computer_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">帐号
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Account</li>
    <li><%= link_to "在线帐号列表", accounts_path(:started=>1)%></li>
    <li><%= link_to "帐号列表", accounts_path()%></li>
    <li><%= link_to "帐号列表 New", account_roles_path(:tag=>"account")%></li>
    <li><%= link_to "帐号分布", group_count_accounts_path()%></li>
    <li><%= link_to "帐号状态", account_statuses_path()%></li>
    <li><%= link_to "账号状态分布", account_report_path(),:target=>"_blank"%></li>
    <li><%= link_to "CPO", cpo_path()%></li>
    
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">角色
    <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		  <li class="nav-header">Role</li>
		  <li><%= link_to "角色列表", roles_path()%></li>
          <li><%= link_to "角色列表 New", account_roles_path(:tag=>"role")%></li>
		  <li><%= link_to "角色分布统计",group_count_roles_path()%></li>
          <li><%= link_to "支持角色列表", support_roles_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">运行
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Note</li>
    <li><%= link_to "记录列表", notes_path(:today=>1)%></li>
    <li><%= link_to "记录副本分布", group_by_msg_notes_path(:today=>1)%></li>
    <li><%= link_to "角色在线" , role_sessions_path() %></li>
    <li><%= link_to "副本列表" , instance_maps_path() %></li>
    <li><%= link_to "副本等级分布" , level_instance_maps_path() %></li>
    <li class="nav-header">Server&IP</li>
    <li><%= link_to "区列表", servers_path()%></li>
    <li><%= link_to "IP列表", ips_path()%></li>
    <li><%= link_to "IP C段列表",ip_ranges_path() %></li>
    <li><%= link_to "IP过滤规则", ip_filters_path()%></li>
   <li class="nav-header">Setting</li>
    <li><%= link_to "设置列表", settings_path()%></li>
    <li class="nav-header">TASK</li>
    <li><%= link_to "任务列表", tasks_path()%></li>
    <li><%= link_to "账号任务", account_tasks_path()%></li>
    <li class="nav-header">PHONE</li>
    <li><%= link_to "phone_machines", phone_machines_path()%></li>
     <li><%= link_to "phone", phones_path()%></li>
     <li><%= link_to "通道列表", links_path()%></li>
     <li><%= link_to "工单列表", orders_path()%></li>
    <li class="nav-header">Session</li>
    <li><%= link_to "角色Session", role_sessions_path()%></li>
    <li><%= link_to "角色HistrorySession", history_role_sessions_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">金币
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><%= link_to raw('金币主页'), gold_path()%></li>
        <li><%= link_to raw('转出统计'), gold_trade_path()%></li>
        <li><%= link_to raw('每日转出'), gold_excel_path()%></li>
    <li class="nav-header">金币支出</li>
		<li><%= link_to "支出主页", home_payments_path()%></li>
    <li><%= link_to "所有支出", payments_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">分析
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">ANALYSIS</li>
    <li><%= link_to "日常情况分析", analysis_everyday_path()%></li>
    <li><%= link_to "数据采样", chart_data_nodes_path()%></li>
    <li><%= link_to "数据采样Old", old_chart_data_nodes_path()%></li>
    </ul>
</li>

</ul>
