<ul class="nav">
<li><a href="/"><span class="icon-home"></span>Home</a></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Role
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Role</li>
    <li><%= link_to "Home", home_roles_path()%></li>
    <li><%= link_to "List", roles_path()%></li>
    <li><%= link_to "Search", search_roles_path()%></li>
    <li><%= link_to "new",new_role_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Computer
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Computer</li>
    <li><%= link_to "Home", home_computers_path()%></li>
    <li><%= link_to "List", computers_path()%></li>
    <li><%= link_to "New", new_computer_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">IP
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">IP</li>
    <li><%= link_to "List", ips_path()%></li>
    </ul>
</li>



<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Note
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Note</li>
    <li><%= link_to "Home", home_notes_path()%></li>
    <li><%= link_to "List", notes_path()%></li>
    <li><%= link_to "Search", search_notes_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Version
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Version</li>
    <li><%= link_to "Index", versions_path()%></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="nav-header">Setting</li>
    <li><%= link_to "Index", settings_path()%></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">金币
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
		<li class="nav-header">产出统计</li>
    <li><%= link_to "所有支出", payments_path()%></li>
    <li class="nav-header">支出记录</li>
    <li><%= link_to "所有支出", payments_path()%></li>
    </ul>
</li>




</ul>
