<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= "#{AppSettings.title} [#{yield(:title)}]"  %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar" style="margin-top:-45px;">
<div class="navbar-inner">
  <div class="container-fluid">
    <a class="brand" href="#" style="color:#b94a48;"><strong><%= AppSettings.title%></strong> <%=ServiceVersion.version%></a>
    <% if current_user %>
    <div class="nav-collapse">
	    <%= render "/layouts/navbar" %>
    </div><!--/.nav-collapse  administrator -->
    <div class="btn-group pull-right">
      <a class="btn" href="<%= users_path %>"><i class="icon-user"></i><%= current_user.name %></a>
      
      <%= link_to '<i class="icon-off"></i>退出'.html_safe,destroy_user_session_path,:class=>"btn",:method=>"delete" %>
    </div>
    <%else%>
       <div class="btn-group pull-right">
           <a class="btn" href="/sign_in"><i class="icon-user"></i>登录</a>
        </div>
    <%end%>
  </div>
</div>
</div>
<div class="container-fluid">
<%= render "layouts/alert" %>
	<%= yield %>
</div>
</body>
</html>
