= form_tag(checked_accounts_path,:method => :post,:id=>"account_checked_form",:onSubmit=>"",:target=>"_blank") do
  .btn-toolbar
    %button.btn.btn-primary.btn-lg{'data-toggle'=>"modal",'data-target'=>'#myModal'} 打开过滤器
    .pull-right
      %select#url
        %option --请选择--
        %option{'value'=>"#{edit_enabled_expand_accounts_path}"} 修改Enabled
        %option{'value'=>"#{edit_in_cpo_expand_accounts_path}"} 回收到CPO

      %button.btn.btn-danger#expand-btn{'type'=>"button"} 确定操作

      %select#do.input-medium{'name' => 'do'}
        %option --请选择--
        %option{'value'=>"#{edit_enabled_expand_accounts_path}"} 修改Enabled
        %option{'value'=>"#{edit_in_cpo_expand_accounts_path}"} 回收到CPO
        =Account::Btns.each do | key, value |
          %option{'value'=>"#{key}"}
            =value
      %button.btn.btn-primary#expand-btn{'type'=>"submit"} 执行操作
  -mini_show = mini_show or false
  = render :partial => "/accounts/grid",:locals=>{:accounts=>@accounts || accounts,:mini_show => mini_show}



:javascript
  $("#expand-btn").click(function(){
    var url = $("#url").val();
    if(url.length == 0){
      return false;
    }
    $("#account_checked_form").attr("action",url);
    $("#account_checked_form").submit();
  }); 