

<div class="alert alert-error">
<strong>错误信息:</strong>
<button type="button" class="close" data-dismiss="alert">×</button>
<span><%= @account.errors.full_messages %></span> 
</div>

<%= form_for(@account,:html=>{:id=>"account-form",:class=>"form-horizontal"}) do |f|  %>

<div class="control-group">
<label class="control-label">帐 号:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :no,:required=>"required" %>
  </div>
</div>
<div class="control-group">
<label class="control-label">密 码:</label>
  <div class="controls docs-input-sizes" >
    <%= f.password_field :password,:required=>"required" %>
  </div>
</div>

<div class="control-group">
<label class="control-label">服务区:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :server,:required=>"required"  %>
  </div>
</div>

<div class="control-group">
<label class="control-label">状态:</label>
  <div class="controls docs-input-sizes" >
    <%= f.text_field :status,:required=>"required" %>
  </div>
</div>

<div class="control-group">
 	<div class="controls">
      	<%= f.submit "保存", :class => "btn btn-success"%>
	</div>
</div>


<%end%>


<script type="text/javascript">
/**/
$(function(){

$("form[id=account-form]").validate();

});
/**/


</script>