<form class="form-search" action="<%= list_accounts_path %>">
<input type="text" name="server" class="input-small" placeholder="服务器" value="<%= params[:server]%>" />
<input type="text" name="date(created_at)" id="created_at" class="input-small" placeholder="注册日期" value='<%= params["date(created_at)"]%>' />
<input type="text" name="no" class="input-small" placeholder="帐号" value="<%= params[:no]%>" />
<input type="text" name="roles_count" class="input-small" placeholder="角色数量" value="<%= params[:roles_count]%>" />
<input type="text" name="computers_count" class="input-small" placeholder="绑定机器数" value="<%= params[:computers_count]%>" />
<input type="text" name="per_page" class="input-small" placeholder="每页展示" value="<%= params[:per_page] || 20 %>" />
<!-- 	<hr style="margin:5px 0;"/> -->
状态:
<select name="status" class="input-small">
	<option value="">---all---</option>
	<% Account::STATUS.each do |status|%>
		<option value="<%= status%>"><%= status %></option>
	<%end%>
</select> 
<button type="submit" class="btn">Search</button>
</form>

<script type="text/javascript">
$(function(){
	$("#created_at").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>