<form class="form-search" action="<%= list_accounts_path %>">
<input type="text" name="no" class="input-small" placeholder="帐号" value="<%= params[:no]%>" />
<input type="text" name="server" class="input-small" placeholder="服务器" value="<%= params[:server]%>" />
<input type="text" name="roles_count" class="input-small" placeholder="角色数量" value="<%= params[:roles_count]%>" />
<input type="text" name="bind_cid" class="input-small" placeholder="绑定机器ID" value="<%= params[:bind_cid]%>" />
上线:
<select name="online" class="input-small">
<option value="">-All-</option>
<option value="1">Yes</option>
<option value="0">No</option>
</select>
<input type="text" name="online_cid" class="input-small" placeholder="在线机器ID" value="<%= params[:online_cid]%>" />
<!-- <input type="text" name="online_cid" class="input-small" placeholder="在线角色ID" value="<%= params[:online_rid]%>" />
 -->
<input type="text" name="online_ip" class="input-small" placeholder="在线IP" value="<%= params[:online_ip]%>" />
<input type="text" name="date(created_at)" id="created_at" class="input-small" placeholder="注册日期" value='<%= params["date(created_at)"]%>' />
<hr style="margin:5px 0;">
状态:
<select name="status" class="input-medium">
	<option value="">---All---</option>
	<% Account::STATUS.each do |status|%>
		<option value="<%= status%>"><%= status %></option>
	<%end%>
</select> 

<input type="text" name="per_page" class="input-small" placeholder="每页展示" value="<%= params[:per_page] || 20 %>" />
<button type="submit" class="btn">Search</button>
</form>

<script type="text/javascript">
$(function(){
	$("#created_at").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>