<%= form_tag(checked_accounts_path,:method => :put,:id=>"account_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do -%>

<table class="table table-bordered table-condensed">
<thead>
<tr>
<th colspan="7">
<label class="checkbox">
	<input type="checkbox" id="check_all" name="check_all"  />全选
</label>
</th>
<th colspan="2" class="text-right">
<select id="do" name="do" class="input-medium">
<option value="">选择操作</option>
<% Account::Btns.each do | key, value |  %>
	<option value="<%= key %>"><%= value%></option>
<%end%>
</select>
<button type="submit" class="btn btn-primary">执行操作</button>
</th>
</tr>
<tr>
<th>ID</th>
<th>帐号</th>
<th>服务器</th>
<th>角色数量</th>
<th>绑定机器</th>
<th>在线</th>
<th>创建时间</th>
<th>状态</th>
<th>冷却时间</th>
<th>成功</th>
</tr>
</thead>
<tbody id="accounts_data">
<% accounts.each do |account|%>
<tr>
<td>
<label class="checkbox">
<%= check_box_tag 'no[]',account.no,false,:id=>account.id %> <%= account.id %>
</label>
</td>
<td title="<%= account.phone_id %>"><%= account_tag account %> 
<%= sanitize('<i class="icon-flag" title="IP: '+account.ip_range+'"></i>') unless account.ip_range.blank? %>
<%= sanitize('<i class="icon-bookmark" title=""></i>') if account.is_bind_phone%>
</td>
<td><%= account.server %></td>
<td><%= account.roles_count %></td>
<td>
<%= account_bind_tag account%>
</td>
<td>
<% if account.is_started? %>
<%= raw("#{account.session_id}#{notes_link_tag(:session_id => account.session_id )}") if account.session_id>0  %> #
<%= link_to account.session.ip,notes_path(:ip => account.session.ip) %> #

<%=  account.online_role_id ==0 ? 'No Role ' : link_to(account.online_role_id,role_path(account.online_role.id)) %>
<%else%>
<%= normal_at_tag account.normal_at  %>
<% end %>
</td>
<td data-t="<%= account.password %>"><%= time_str account.created_at %> <%= boolean_tag account.is_auto%></td>
<td><%= account.status %></td>
<td><%= time_str account.normal_at %></td>
<td><%= boolean_tag account.today_success %></td>
</tr>
<%end%>
</tbody>
</table>

<%end%>

<script type="text/javascript">

function validate(){
	var action =  $("#do").val();
	if(action == null || action == ""){
		alert("请选择您需要执行的操作!");
		$("#do").focus();
	}else if($("#accounts_data input:checked").length == 0){
		alert("请选择您需要执行的号码!");
	}else{
		return true;
	}

	//alert(action);
	return false;
}

$(function(){

$("#check_all").click(function(){
	var checked = this.checked;
	$("#accounts_data input[type=checkbox]").each(function(){
		this.checked = checked;
	});
});

});

</script>

