<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'accounts' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>账户列表'), accounts_path %>
</li>

<li <%= active if controller_name == "accounts" && action_name == 'new' %> >
 <%= link_to raw('<i class="icon-plus"></i>新建账户'), new_account_path %>
</li>

<li <%= active if controller_name == "accounts" && action_name == 'import' %> >
 <%= link_to raw('<i class="icon-folder-open"></i>导入账户'), import_accounts_path %>
</li>

</ul>
