<% content_for :title do%>账号 <%= Account::Btns[params[:do]]%><%end%>
<fieldset>
<legend>账号 <%= Account::Btns[params[:do]]%></legend>
<div class="alert">
<strong>提示信息:</strong>
<span>您选中了<%= @no.length %> 个账号，执行[<%= Account::Btns[params[:do]]%>]操作!</span> 
</div>



<%= form_tag(do_checked_accounts_path,:method => :put,:id=>"account_checked_form",:class=>"form-horizontal") do -%>
<%= hidden_field_tag :do,params[:do]%>

<select name="no[]" multiple="multiple" style="display:none;">
<% @no.each do |no|%>
<option value="<%= no%>" selected="selected"><%= no%></option>
<%end%>
</select>

<% if params[:do] == "set_status"%>
<div class="control-group">
<label class="control-label">账号状态:</label>
<div class="controls docs-input-sizes" >
	<%= select_tag "status",options_for_select(Account::STATUS.keys )%>
</div>
</div>
<% elsif params[:do] == "add_role"%>
<div class="control-group">
<label class="control-label">添加数量:</label>
<div class="controls docs-input-sizes" >
	<input type="text" name="n" value="1" placeholder="添加数量" />
</div>
</div>

<div class="control-group">
<label class="control-label">角色职业:</label>
<div class="controls docs-input-sizes" >
<select name="profession" class="input-small">
<option value="" >null</option>
<% Role::PROFESSIONS.each do |prof|%>
	<option value="<%= prof %>"><%= prof %></option>
<%end%>
</select>
</div>
</div>
<% elsif params[:do] == "edit_normal_at" %>
<div class="control-group">
<label class="control-label">冷却时间:</label>
<div class="controls docs-input-sizes" >
	<input type="text" id="at" name="at" value="<%=  Date.today %>" placeholder="冷却时间" />
</div>
</div>
<div class="control-group">
<label class="control-label">今日成功:</label>
<div class="controls docs-input-sizes">
	<label class="checkbox">
	<input id="ts" name="ts" type="checkbox" value="1">成功
</label>
</div>
</div>
<% elsif params[:do] == "bind_this_computer" %>
<div class="control-group">
<label class="control-label">机器ID/Key:</label>
<div class="controls docs-input-sizes" >
<input type="text" name="c" value="" placeholder="机器ID/Key" />
<!-- <label class="checkbox">
	<input id="ts" name="clear" type="checkbox" value="1">清空机器当前账号
</label> -->
</div>
</div>
<% elsif params[:do] == "set_server"%>
<div class="control-group">
<label class="control-label">服务器	:</label>
<div class="controls docs-input-sizes" >
	<input type="text" id="server" name="server" value="" placeholder="服务器/区" />
</div>
</div>
<% elsif params[:do] == "add_sms_order"%>
<div class="control-group">
<label class="control-label">触发事件:</label>
<div class="controls docs-input-sizes" >
	<input type="text" id="event" name="event" value="" placeholder="触发事件" />
</div>
</div>
<% elsif params[:do] == "standing"%>
	<div class="control-group">
		<label class="control-label">站不站</label>
		<div class="controls docs-input-sizes" >
		<select name="standing">
			<option value="0">不站</option>
			<option value="1">站</option>
		</select>
		</div>
	</div>
<% elsif params[:do] == "get_log_file"%>
	<div class="control-group">
	<label class="control-label">日期:</label>
	<div class="controls docs-input-sizes" >
		<input type="text" id="at" name="at" value="<%=  Date.today %>" placeholder="冷却时间" />
	</div>
	</div>
	<div class="control-group">
	<label class="control-label">日志备注:</label>
	<div class="controls docs-input-sizes" >
		<input type="text" id="remark" name="remark" value="" placeholder="备注" />
	</div>
	</div>
<% elsif params[:do] == "delete_all"%>
	<div class="control-group">
		<h1 class="error">将会删除所有和账号相关的数据!!</h1>
	</div>
<%end%>

<div class="form-actions">
  <%= submit_tag "确认执行", :class => "btn btn-primary"%>
</div>

<%end%>

</fieldset>
<script type="text/javascript">
$(function(){
$("#at").datetimepicker({dateFormat:"yy-mm-dd",timeFormat:"HH:mm:ss"});
<% if flash[:error] %>
 alert("<%= flash[:error]%>");
<%end%>
});
</script>