<fieldset>
<legend>账号 <%= Account::Btns[params[:do]]%></legend>
<div class="alert">
<strong>提示信息:</strong>
<span>您选中了<%= @no.length %> 个账号，执行[<%= Account::Btns[params[:do]]%>]操作!</span> 
</div>



<%= form_tag(do_checked_accounts_path,:method => :put,:id=>"account_checked_form",:class=>"form-horizontal") do -%>
<%= hidden_field_tag :do,params[:do]%>

<select name="no[]" multiple="multiple" style="display:none;">
<% @no.each do |no|%>
<option value="<%= no%>" selected="selected"><%= no%></option>
<%end%>
</select>

<% if params[:do] == "set_status"%>
<div class="control-group">
<label class="control-label">账号状态:</label>
<div class="controls docs-input-sizes" >
	<%= select_tag "status",options_for_select(Account::STATUS )%>
</div>
</div>
<%end%>

<div class="form-actions">
  <%= submit_tag "确认执行", :class => "btn btn-primary"%>
</div>

<%end%>

</fieldset>