<%= render "ul" %>
<fieldset>
<legend>账号分布</legend>
<form class="form-search" action="<%= group_count_accounts_path %>">
统计条件:
<select name="col">
<% @cols.each do |k,v| %>
<option value="<%= k%>" <%= 'selected="selected"' if k == @col %>><%= v %></option>
<%end%>
</select>
<input type="text" name="server" value="<%= params[:server]%>" class="input-small" placeholder="服务器" />
<button type="submit" class="btn">确定</button>
</form>
<table class="table table-bordered table-condensed">
<thead>
<tr>
<th>账号数量</th>
<th><%= @cols[@col]%></th>
</tr>
</thead>
<tbody>
<% @records.each do |record|%>
<tr>
<td><%= record.accounts_count %></td>
<td><%= record.col.blank? ? "" : link_to(record.col,accounts_path(@col=>record.col))  %></td>
</tr>
<%end%>
</tbody>
</table>
</fieldset>