<%= render "ul" %>
<fieldset>
<legend>账号设置</legend>
<%= form_tag(set_accounts_path, method: :post,:class=>"form-horizontal") do %>
<table class="table">
<thead>
<tr>
	<th>状态</th>
	<th>冷却时间(小时)</th>
</tr>		
</thead>
<tbody>
<% @status.each do |k,v|%>
<tr>
	<td><%= k %></td>
	<td>
		<input type="text" class="input-mini" name="<%= k %>" value="<%= v %>" style="border-color:red;" />
	</td>
</tr>
<%end%>
</tbody>
</table>
<button type="submit" class="btn btn-primary">确 定</button>
<%end %>
</fieldset>