<fieldset>
<legend>账户详细</legend>
<table class="table">

<tbody>
<tr>
	<td>账户</td>
	<td><%= account_tag @account.no %></td>
	<td>创建时间</td>
	<td><%= time_str @account.created_at %></td>
	<td>服务器</td>
<td><%= @account.server %></td>
</tr>
<tr>
<td>角色数量</td>
<td><%= @account.roles.count %></td>
<td>绑定机器</td>
<td><%= computer_tag @account.bind_computer %></td>
<td>状态</td>
<td><%= @account.status%></td>
</tr>

<tr>
<td>修改时间</td>
<td><%= time_str @account.updated_at %></td>
<th>恢复时间</th>
<td> <%= time_str @account.normal_at %></td>
<td>今天成功</td>
<td><%= boolean_tag @account.today_success %></td>
</tr>

<% if @account.is_started? %>
<tr class="info">
	<td>上线时间</td>
	<td><%= time_str @account.session.created_at %> # <%= @account.session.hours %></td>
	<td>在线机器</td>
	<td><%= computer_tag @account.session.computer %></td>
	<td>IP</td>
	<td><%= @account.session.ip %></td>
</tr>
<tr class="info">
	<td>当前角色</td>
	<td><%= @account.online_role_id %></td>
	<td>会话</td>
	<td><%= @account.session_id%><%= notes_link_tag(:session_id=>@account.session_id)%></td>
	<td>会话成功</td>
	<td><%= boolean_tag @account.session.success %></td>
</tr>
<%end%>

</tbody>
</table>
</fieldset>

<fieldset>
<legend>包含角色</legend>

<%= render :partial => "roles/table",:locals=>{:roles=>@account.roles} %>

</fieldset>