<fieldset>
<legend>账户详细</legend>
<table class="table">

<tbody>
<tr>
	<td>账户</td>
	<td><%= account_tag @account.no %></td>
	<td>创建时间</td>
	<td><%= time_str @account.created_at %></td>
	<td>服务器</td>
<td><%= @account.server %></td>
</tr>
<tr>
<td>角色数量</td>
<td><%= @account.roles_count %></td>
<td>绑定机器</td>
<td><%= computer_tag @account.bind_computer %></td>
<td>状态</td>
<td><%= @account.status%></td>
</tr>

<tr>
<td>修改时间</td>
<td colspan="3"><%= time_str @account.updated_at %></td>
<th>恢复时间</th>
<td> <%= time_str @account.normal_at %></td>
</tr>

<% if @account.is_online? %>
<tr>
	<th>在线角色</th>
	<td><%= @account.online_role_id %></td>
	<th>在线机器</th>
	<td><%= computer_tag @account.online_computer %></td>
	<th>IP</th>
	<td><%= @account.online_ip %></td>
</tr>
<%end%>

</tbody>
</table>
</fieldset>

<fieldset>
<legend>包含角色</legend>

<%= render :partial => "roles/table",:locals=>{:roles=>@account.roles} %>

</fieldset>