<fieldset>
<legend>IP List</legend>
<%= link_to "重置",reset_ips_path , :method=>:put,:class=>"btn"%>
<div class="alert">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>提示信息:</strong>
<span><%= @ips.total_entries%>个IP</span> 
</div>
<table class="table table-bordered table-condensed">
<thead>
	<th>IP</th>
	<th>使用次数</th>
	<th>Hours ago</th>
	<th>Updated At</th>
	<th>Delete</th>
</thead>
<tbody>
<% @ips.each do |ip| %>
<tr>
<td><%= link_to ip.value,notes_ip_path(ip.ip_url) %></td>
<td><%= link_to ip.use_count,roles_ip_path(ip.ip_url) %></td>
<td><%= ip.hours_ago %></td>
<td><%= time_str ip.updated_at %></td>
<td>
<%= link_to raw("<i class='icon-trash'></i>删除"),clear_ips_path(:ip=>ip.value),confirm: 'Are you sure?' %>
</td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @ips %>
</fieldset>
