<%= link_to raw("Reset"),reset_ips_path,:class=>"btn",confirm: 'Are you sure?'%>
<table class="table">
<thead>
	<th>IP</th>
	<th>Hours ago</th>
	<th>Use Count</th>
	<th>Updated At</th>
	<th>Delete</th>
</thead>
<tbody>
<% @ips.each do |ip| %>
<tr>
<td><%= ip.value %></td>
<td><%= ip.hours_ago %></td>
<td><%= ip.use_count %></td>
<td><%= ip.updated_at %></td>
<td>
<%= link_to raw("<i class='icon-trash'></i>删除"),clear_ips_path(:ip=>ip.value),confirm: 'Are you sure?' %>
</td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @ips %>